<section id="proyectos">
    <h2>Proyectos</h2>
  
    <div class="container">
      
      <div class="cartas" *ngFor="let row of proyectosList">
  
        <div class="card" style="width: 18rem;">
          <img [src]="row.img" class="card-img-top" [alt]="row.name">
          <div class="card-body">
            <h5 class="card-title">{{row.pname}}</h5>
            <p class="card-text">{{row.desc}}</p>
            <a [href]="row.url" target="_blank" class="btn btn-success">Visitar</a>
            <a [href]="row.urlrepo" target="_blank" class="btn btn-primary">Ver repositorio</a>
          </div>
        </div>
  
        
  
  
      </div>
  
  
    </div>
  
  </section>